@model IEnumerable<Ticket>
@{
    ViewBag.Title = "View Tickets";
    Layout = "~/Views/Shared/NavBar.cshtml";
}
<html>
<head>
    <title>TigerTix: @ViewBag.Title</title>
</head>

<body>
    <h1 class="center">Tickets</h1>
    <table class="center">
        <tr>
            <th>Id</th>
            <th>Event Id</th>
            <th>Name</th>
            <th>Price</th>
            <th>Seat Section</th>
            <th>Seat Number</th>
            <th>Owner Id</th>
        </tr>

        @foreach (var t in Model)
        {
            <tr>
                <td>@t.Id</td>
                <td>@t.eventID</td>
                <td>@t.name</td>
                <td>@t.price</td>
                <td>@t.seatSection</td>
                <td>@t.seatNumber</td>
                <td>@t.ownerID</td>
            </tr>
        }
    </table>
</body>
</html>
